<!DOCTYPE html>
<html>
<head>
  <title>Portrait JS</title>
  <meta charset="utf-8" >
  <meta "http-equiv"="X-UA-Compatible" content = "IE=7">
  <meta{name="viewport" content="width=device-width, initial-scale=1.0">
  <meta "http-equiv"="X-UA-Compatible" content = "IE=edge">
  <!-- < % stylesheet_ link_tag    "application", media: "all", "data-turbolinks-track" => true %> -->
  <%= stylesheet_link_tag    "application" %>
  <!-- < % javascript_include_tag "application", "data-turbolinks-track" => false %> -->
  <%= javascript_include_tag "application"%>
  
  <%= csrf_meta_tags %>
</head>
<body>

<% yield %>
<script id="applicationa" type="text/x-handlebars-template">
	<div class={{className}}>
		{{content}}
		<div class="container">
			This would be the from a script...
		</div>
	</div>
</script>

</body>
</html>
