<!DOCTYPE html>
<html>
<head>
  <title>Frontis</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% yield %>
<script id="application" type="text/x-handlebars-template">
	<div class={{className}}>
		{{name}}
		<div class="container">

		</div>
	</div>
</script>

</body>
</html>
